body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}


.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    height: 100%;
    width: 100%;
}
    
.topbar {
    grid-column: span 7 / span 7;
    background: rgb(72, 72, 186);
    display: flex;
}

.title{
    color: white;
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 50px;
}
.image-topbar{
    position: absolute;
    right: 30px;
    width: 70px;
    top: 5px
}


.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    grid-row-start: 2;
    background: white;
    border-radius: 10px;
    border: 3px solid red;
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 8px;
}

.box{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.box-intern{
    flex: 1;
    border: 1px solid blue;

}

.box-intern-active{
    flex:1;
    border: 1px solid green;
}



.div3 {
    grid-row: span 6 / span 6;
    grid-column-start: 1;
    grid-row-start: 2;
    background: white;
    opacity: 0;
}
.div3-active{
    grid-row: span 6 / span 6;
    grid-column-start: 1;
    grid-row-start: 2;
    background: white;
    opacity: 1;
}

.div4 {
    grid-row: span 6 / span 6;
    grid-column-start: 7;
    grid-row-start: 2;
    background: white;
}
        